PORT=8888
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=pass
DB_NAME=notifydb
TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN
TWILIO_SMS_OUTGOING_NUMBER="+19374864034"
SENGRID_API_KEY=YOUR_SENGRID_API_KEY
```